////////////////////////////////////////////////
// HEADER
header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;

    font-family: $font-sub-family;
    font-size: $font-size * 1.06;
    font-weight: 600;
    background: white;

    @media only screen and (max-width: $bp-large) {
        font-size: $font-size;
    }

    .nav-item {
        display: flex;
        align-items: center;

        .dropdown-item {
            font-weight: 600;
            &:hover,
            &:active,
            &:focus {
                background: transparent;
                color: var(--color-primary-light);
            }
        }

        @media only screen and (max-width: $bp-large) {
            justify-content: center;

            .dropdown-toggle {
                display: none !important;
            }

            .dropdown-menu {
                display: block !important;
                border: none;
                padding: 0;
            }

            .dropdown-item {
                padding: 0.5rem 1rem;
                width: auto;
                display: inline-block;
            }
        }

        .nav-link {
            color: var(--color-grey-dark-1);
            position: relative;
            z-index: 1;
            transition: all 0.2s;

            @media only screen and (max-width: $bp-large) {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }

            .account_text {
                display: inline-block;
                max-width: 86px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            &::before {
                content: '';
                display: block;
                width: 0px;
                height: 0px;
                background: var(--color-yellow-1);
                border-radius: 100rem;
                position: absolute;
                top: 10px;
                left: 10px;
                z-index: -1;
                transition: all 0.2s;
            }

            &.active {
                &::before {
                    width: 18px;
                    height: 18px;
                    top: 5px;
                    left: 0;
                }
            }

            &:hover {
                color: var(--color-primary-light);

                &::before {
                    width: 18px;
                    height: 18px;
                    top: 5px;
                    left: 0;
                }

                &.logo {
                    &::before {
                        width: 0;
                        height: 0;
                        top: 5px;
                        left: 0;
                    }
                }
            }
        }
    }

    .outside {
        display: none;
        @media only screen and (max-width: $bp-large) {
            display: block;
        }
    }

    .inside {
        @media only screen and (max-width: $bp-large) {
            display: none;
        }
    }

    .logo {
        height: 64px;
        padding: 0;

        @media only screen and (max-width: $bp-large) {
            height: 46px;
        }

        img {
            height: 100%;
            width: auto;
        }
    }

    .hamburger .line {
        width: 24px;
        height: 2px;
        background-color: var(--color-grey-dark-1);
        display: block;
        margin: 4px auto;
        border-radius: 10rem;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    #hamburger-1.is-active .line:nth-child(2) {
        opacity: 0;
    }

    #hamburger-1.is-active .line:nth-child(1) {
        -webkit-transform: translateY(6px) rotate(45deg);
        -ms-transform: translateY(6px) rotate(45deg);
        -o-transform: translateY(6px) rotate(45deg);
        transform: translateY(6px) rotate(45deg);
    }

    #hamburger-1.is-active .line:nth-child(3) {
        -webkit-transform: translateY(-6px) rotate(-45deg);
        -ms-transform: translateY(-6px) rotate(-45deg);
        -o-transform: translateY(-6px) rotate(-45deg);
        transform: translateY(-6px) rotate(-45deg);
    }
}

////////////////////////////////////////////////
// INDEX
main {
    padding-top: 80px;
    background: var(--color-grey-light-1);

    @media only screen and (max-width: $bp-large) {
        padding-top: 62px;
    }
}
.logo-circle {
    text-align: center;
    img {
        width: 80px;
        height: auto;
        margin: 0 2rem;
    }

    &::before,
    &::after {
        content: '';
        display: inline-block;
        height: 10px;
        width: 10px;
        border-radius: 10rem;
        background-color: var(--color-grey-dark-1);
    }
}

.news-box {
    display: flex;
    background-color: white;
    border-radius: $border-radius;
    border: 1px solid var(--color-grey-dark-1);
    outline: 3px solid white;
    padding: 1.5rem;

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        gap: 1rem;
    }

    &__tit {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list {
        flex: 2;
        list-style: none;
        margin: 0;
        padding: 0;

        font-size: $font-size * 1.06666;
        font-family: $font-sub-family;

        > li {
            display: flex;
            gap: 2rem;
            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }

            p {
                margin-bottom: 0;
            }

            .date {
                min-width: 90px;
                flex-basis: 90px;
            }

            .tit {
                flex-shrink: 1;
            }
        }

        a {
            &:link,
            &:visited {
                color: var(--color-grey-dark-1);
                transition: all 0.2s;
                text-decoration: none;
            }

            &:hover,
            &:active {
                color: var(--color-primary-light);
            }
        }
    }
}

.contact-wrap {
    position: relative;
    z-index: 5;
    overflow: hidden;

    .cloud {
        z-index: -1;
        &.cright {
            top: -15px;
            left: -50px;
        }

        &.cleft {
            bottom: -70px;
            right: -60px;
        }

        @media only screen and (max-width: $bp-largest) {
            &.cright {
                top: -12px;
                left: -30px;
            }

            &.cleft {
                bottom: -60px;
                right: -50px;
            }
        }

        @media only screen and (max-width: $bp-large) {
            &.cright {
                top: -10px;
                left: -25px;
            }

            &.cleft {
                bottom: -50px;
                right: -40px;
            }
        }

        @media only screen and (max-width: $bp-medium) {
            &.cright {
                top: -8px;
                left: -10px;
            }

            &.cleft {
                display: none;
            }
        }
    }

    .wave-block {
        position: absolute;
        z-index: -1;
        top: 270px;

        @media only screen and (max-width: $bp-medium) {
            top: auto;
            bottom: -40px;
        }
    }
}

////////////////////////////////////////////////
// FOOTER
footer {
    background: linear-gradient(to right, rgb(112, 89, 62), rgb(89, 68, 43));
    padding: 2rem;
    color: var(--color-grey-light-1);
    font-size: $font-size * 0.87;

    a {
        color: var(--color-grey-light-1);
        text-decoration: none;
        transition: all 0.2s;
        position: relative;
        padding: 0.25rem 0.8rem;

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 0%;
            height: 1px;
            background-color: var(--color-grey-light-1);
            bottom: 0;
            left: 0;
            transition: all 0.2s;
        }

        i {
            transition: all 0.2s;
        }

        &:hover,
        &:active {
            color: white;

            &::after {
                width: 100%;
                background-color: white;
            }

            i {
                transform: translateY(-2px);
            }

            i:before {
                color: white;
            }
        }
    }

    .footer-wrap {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;

        @media only screen and (max-width: $bp-large) {
            flex-wrap: wrap;
        }

        &__logo-box {
            min-width: 180px;
            flex-basis: 180px;
            text-align: center;

            > p {
                font-family: $font-sub-family;
                letter-spacing: 0.2rem;
                margin-bottom: 0;
                color: white;
            }

            &__logo {
                width: 163px;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        &__link-box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            border-left: 1px solid var(--color-grey-light-1);
            margin-left: 3rem;
            padding-left: 3rem;

            @media only screen and (max-width: $bp-large) {
                margin-left: 0;
                padding-left: 0;
                border-left: none;
                border-top: 1px solid var(--color-grey-light-1);
                margin-top: 1rem;
                padding-top: 1rem;
            }

            @media only screen and (max-width: $bp-medium) {
                align-items: center;
            }

            &__link1 {
                display: flex;
                align-items: center;
                gap: 2rem;
                margin-bottom: 0.4rem;

                a {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                }

                i {
                    font-size: $font-size * 1.2;
                }

                @media only screen and (max-width: $bp-medium) {
                    flex-direction: column;
                    justify-content: center;
                    gap: 0.5rem;
                    margin-bottom: 2rem;
                }
            }

            &__link2 {
                > ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: flex;

                    @media only screen and (max-width: $bp-medium) {
                        flex-wrap: wrap;
                        justify-content: center;
                    }

                    li {
                        @media only screen and (max-width: $bp-medium) {
                            margin-bottom: 0.5rem;
                        }

                        &:not(:last-child) {
                            &::after {
                                content: '';
                                display: inline-block;
                                width: 4px;
                                height: 4px;
                                background: var(--color-grey-light-1);
                                border-radius: 10rem;
                                margin: 0 1rem 3px;

                                @media only screen and (max-width: $bp-largest) {
                                    margin: 0 0.5rem 3px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-privacy {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        > p {
            margin-bottom: 0;
        }

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;
        }
    }
}

////////////////////////////////////////////////
// PAGES
$main-wrap-top: 3rem;
.main-wrap {
    display: flex;
    min-height: calc(100vh - 503px);

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }

    &__left {
        padding-top: $main-wrap-top;
        margin-right: 5rem;
        min-width: 170px;
        flex-basis: 170px;

        @media only screen and (max-width: $bp-large) {
            margin-right: 3rem;
        }

        @media only screen and (max-width: $bp-medium) {
            margin: 0 auto 2rem auto;

            min-width: 100%;
            flex-basis: 100%;
        }
    }

    &__right {
        padding-top: $main-wrap-top;
        flex-shrink: 1;
        width: 100%;

        article {
            overflow-x: auto;
            scrollbar-color: var(--color-grey-light-1) var(--color-grey-light-1);

            &::-webkit-scrollbar-track {
                background: var(--color-grey-light-1);
            }
            &::-webkit-scrollbar-thumb {
                background-color: var(--color-grey-light-1);
            }

            /* article Table Setting */
            table {
                width: 100% !important;
                max-width: 100% !important;

                margin-right: 0px !important;
                margin-left: 0px !important;

                word-break: break-all !important;

                td,
                th {
                    padding: 0.25rem 0.5rem !important;
                }
            }
        }

        @media only screen and (max-width: $bp-medium) {
            padding-top: 0;
        }
    }
}

.article-mode {
    .main-wrap {
        position: relative;
        display: block;

        @media only screen and (max-width: $bp-medium) {
            padding: 0;
            margin-top: -125px;
        }

        .article-mode__ctrl {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            @media only screen and (max-width: $bp-medium) {
                margin: 0 auto;
                gap: 12px;

                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                > * {
                    width: calc(50% - 6px);
                }

                .btn-style__1 {
                    border-color: var(--color-primary);
                    background-color: var(--color-primary);
                    color: white;

                    &:hover {
                        background-color: var(--color-primary-light);
                    }

                    &:disabled,
                    &.disabled {
                        border-color: var(--color-grey-light-2);
                        color: var(--color-grey-light-2);
                        background-color: transparent;
                    }
                }
            }
        }

        .main-wrap__left {
            position: -webkit-sticky;
            position: sticky;
            top: 80px;
            left: 0;
            width: 170px;
            margin: 0;

            @media only screen and (max-width: $bp-medium) {
                div[data-boxname='head'] {
                    display: none;
                }
                padding: 1rem 12px 2rem 12px;
                margin: 0;

                position: -webkit-sticky;
                position: sticky;
                top: calc(100vh - 125px);
                background-color: var(--color-grey-dark-1);
                width: 100%;
            }
        }

        .main-wrap__right {
            padding-left: 250px;
            margin-top: -327px;

            @media only screen and (max-width: $bp-medium) {
                margin-top: 0;
                padding: $main-wrap-top 12px 125px 12px;
            }
        }
    }

    .wave-block {
        @media only screen and (max-width: $bp-medium) {
            display: none;
        }
    }

    .form-select {
        @media only screen and (max-width: $bp-medium) {
            font-size: $font-size;
        }
    }
}

.login-wrap {
    background: var(--color-grey-light-1);
    padding: 4rem 1rem;
    min-height: calc(100vh - 253.33px);
}
